h1 {
    font-family: "alice";
    font-size: 56px;
    line-height: 130%;
    color: #000;
    font-weight: normal;
    & > a{     
        display: block;  
        float: right;
        color: #000;      
        text-decoration: none;     
        line-height: 130%;   
        &:hover{
            color: rgb(232, 56, 126);
        }
    }
}

.content{
    display: block;
    box-sizing: border-box;
    padding: 32px;
    min-height: 100vh;
    background-color: #E6E6E6;
    overflow: hidden;

    & > p {
        font-size: 20px;
        line-height: 150%;
        font-weight: normal;
        color: #000;
        font-family: Arial, Helvetica, sans-serif;
    } 
    & .icons{
        box-sizing: border-box;
        // display: block;
        height: 32px;
        width: auto;
        line-height: 130%;
        enable-background: new 0 0 56 56;
        fill: #000;   
            
    }
}