$black: #000;
$white: #fff;

ul.menu1 {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'alice' !important;
    

    &>li {
        padding: 8px 0;

        &>a {
            text-decoration: none;
            color: $black;
            font-size: 38px;
            line-height: 130%;

            &>.svg {
                display: inline-block;
                padding-right: 18px; 
                fill: $black;

            }
            &:hover {
                cursor: pointer;
                color: $white;
                & .svg {
                    fill: $white;
                }
            }
        }

    }
}